h1
{
    color:rgb(250, 244, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

body
{
    background-color:(rgb(249, 167, 60));
}
a
{
    text-decoration: darkcyan;
    font-family:Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif ;
    font-size: 18pt;
    color:rgb(24, 22, 22) ;
    padding: 10pt;
}

.header
{
    width: 100%;
    background-color:rgb(162, 85, 194);
    float:left;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 18px;
}

.slider
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.slider img 
{
    width: 400px;
    height: auto;
}

.box1
{
width: 25%;
background-color: rgb(160, 140, 85);
padding-bottom: 300px;
float: left;
}

.box2
{
width: 25%;
background-color: rgb(72, 83, 121);
padding-bottom: 300px;
float: left;
}

.box3
{
    width: 25%;
    background-color:rgb(160, 140, 85);
    padding-bottom: 300px;
    float: left;
}

.Box4
{
    width: 25%;
    background-color: rgb(72, 83, 121);
    padding-bottom: 300px;
    float: left;
}


.content
{
color: rgb(14, 77, 30);
}

table,tr,td,th
{
    border: 3px solid black;
    border-collapse: collapse;
}

table
    {
        width: 700px;
    }   

tr
{
    background-color: darkseagreen;
}

th
    {
        background-color: rgb(28, 40, 148);
        color: rgb(244, 242, 236);
    }

td
{
    padding: 15px;
}

tr:nth-child(even)
{
    background-color: rgb(206, 146, 217);
}

tr:hover
    {
        background-color: chartreuse;
    }

    .content 
{
    text-align: center;
}

.content p
{
    font-size: 20px;
    font-style:normal;
}
.p
{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">
}

.slider2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slider2 img 
{
    width: 300px;
    height: auto;
}

.slider3
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slider3 img 
{
    width: 300px;
    height: auto;
}

.slider4 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slider4 img 
{
    width: 300px;
    height: auto;
}

.slider5
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.slider5 img 
{
    width: 300px;
    height: auto;
}

.table1
{
    width: 3000px;
    margin-top: 25px;

}


